/* Basic LESS calculation in css */
h1 {
  font-size: 20px;
}
/* Pass-through CSS */
.line {
  top: 0;
  left: 0;
  position: absolute;
  width: 10px;
  font-size: 10px;
}
/* use a mixin */
.wrapper {
  -webkit-transform: translate3d(-180px, 100px, 0px) rotate(-90deg);
  -moz-transform: translate3d(-180px, 100px, 0px) rotate(-90deg);
  transform: translate3d(-180px, 100px, 0px) rotate(-90deg);
}
/* Declare mixins */
/* Basic iteration mixin */
.line:nth-child(1) {
  background-color: #ff5533;
  width: 10px;
  -webkit-transform: translate3d(30px, 46px, -100px) rotate(10deg);
  -moz-transform: translate3d(30px, 46px, -100px) rotate(10deg);
  transform: translate3d(30px, 46px, -100px) rotate(10deg);
  opacity: 0;
}
.line:nth-child(1):after {
  content: '1';
}
.animate .line:nth-child(1) {
  opacity: 0.21666667;
  -webkit-transition: opacity 400ms ease-in-out 150ms;
  -moz-transition: opacity 400ms ease-in-out 150ms;
  transition: opacity 400ms ease-in-out 150ms;
}
.line:nth-child(2) {
  background-color: #ff7733;
  width: 20px;
  -webkit-transform: translate3d(30px, 52px, -200px) rotate(20deg);
  -moz-transform: translate3d(30px, 52px, -200px) rotate(20deg);
  transform: translate3d(30px, 52px, -200px) rotate(20deg);
  opacity: 0;
}
.line:nth-child(2):after {
  content: '2';
}
.animate .line:nth-child(2) {
  opacity: 0.23333333;
  -webkit-transition: opacity 400ms ease-in-out 200ms;
  -moz-transition: opacity 400ms ease-in-out 200ms;
  transition: opacity 400ms ease-in-out 200ms;
}
.line:nth-child(3) {
  background-color: #ff9933;
  width: 30px;
  -webkit-transform: translate3d(30px, 58px, -300px) rotate(30deg);
  -moz-transform: translate3d(30px, 58px, -300px) rotate(30deg);
  transform: translate3d(30px, 58px, -300px) rotate(30deg);
  opacity: 0;
}
.line:nth-child(3):after {
  content: '3';
}
.animate .line:nth-child(3) {
  opacity: 0.25;
  -webkit-transition: opacity 400ms ease-in-out 250ms;
  -moz-transition: opacity 400ms ease-in-out 250ms;
  transition: opacity 400ms ease-in-out 250ms;
}
.line:nth-child(4) {
  background-color: #ffbb33;
  width: 40px;
  -webkit-transform: translate3d(30px, 64px, -400px) rotate(40deg);
  -moz-transform: translate3d(30px, 64px, -400px) rotate(40deg);
  transform: translate3d(30px, 64px, -400px) rotate(40deg);
  opacity: 0;
}
.line:nth-child(4):after {
  content: '4';
}
.animate .line:nth-child(4) {
  opacity: 0.26666667;
  -webkit-transition: opacity 400ms ease-in-out 300ms;
  -moz-transition: opacity 400ms ease-in-out 300ms;
  transition: opacity 400ms ease-in-out 300ms;
}
.line:nth-child(5) {
  background-color: #ffdd33;
  width: 50px;
  -webkit-transform: translate3d(30px, 70px, -500px) rotate(50deg);
  -moz-transform: translate3d(30px, 70px, -500px) rotate(50deg);
  transform: translate3d(30px, 70px, -500px) rotate(50deg);
  opacity: 0;
}
.line:nth-child(5):after {
  content: '5';
}
.animate .line:nth-child(5) {
  opacity: 0.28333333;
  -webkit-transition: opacity 400ms ease-in-out 350ms;
  -moz-transition: opacity 400ms ease-in-out 350ms;
  transition: opacity 400ms ease-in-out 350ms;
}
.line:nth-child(6) {
  background-color: #ffff33;
  width: 60px;
  -webkit-transform: translate3d(30px, 76px, -600px) rotate(60deg);
  -moz-transform: translate3d(30px, 76px, -600px) rotate(60deg);
  transform: translate3d(30px, 76px, -600px) rotate(60deg);
  opacity: 0;
}
.line:nth-child(6):after {
  content: '6';
}
.animate .line:nth-child(6) {
  opacity: 0.3;
  -webkit-transition: opacity 400ms ease-in-out 400ms;
  -moz-transition: opacity 400ms ease-in-out 400ms;
  transition: opacity 400ms ease-in-out 400ms;
}
.line:nth-child(7) {
  background-color: #ddff33;
  width: 70px;
  -webkit-transform: translate3d(30px, 82px, -700px) rotate(70deg);
  -moz-transform: translate3d(30px, 82px, -700px) rotate(70deg);
  transform: translate3d(30px, 82px, -700px) rotate(70deg);
  opacity: 0;
}
.line:nth-child(7):after {
  content: '7';
}
.animate .line:nth-child(7) {
  opacity: 0.31666667;
  -webkit-transition: opacity 400ms ease-in-out 450ms;
  -moz-transition: opacity 400ms ease-in-out 450ms;
  transition: opacity 400ms ease-in-out 450ms;
}
.line:nth-child(8) {
  background-color: #bbff33;
  width: 80px;
  -webkit-transform: translate3d(30px, 88px, -800px) rotate(80deg);
  -moz-transform: translate3d(30px, 88px, -800px) rotate(80deg);
  transform: translate3d(30px, 88px, -800px) rotate(80deg);
  opacity: 0;
}
.line:nth-child(8):after {
  content: '8';
}
.animate .line:nth-child(8) {
  opacity: 0.33333333;
  -webkit-transition: opacity 400ms ease-in-out 500ms;
  -moz-transition: opacity 400ms ease-in-out 500ms;
  transition: opacity 400ms ease-in-out 500ms;
}
.line:nth-child(9) {
  background-color: #99ff33;
  width: 90px;
  -webkit-transform: translate3d(30px, 94px, -900px) rotate(90deg);
  -moz-transform: translate3d(30px, 94px, -900px) rotate(90deg);
  transform: translate3d(30px, 94px, -900px) rotate(90deg);
  opacity: 0;
}
.line:nth-child(9):after {
  content: '9';
}
.animate .line:nth-child(9) {
  opacity: 0.35;
  -webkit-transition: opacity 400ms ease-in-out 550ms;
  -moz-transition: opacity 400ms ease-in-out 550ms;
  transition: opacity 400ms ease-in-out 550ms;
}
.line:nth-child(10) {
  background-color: #77ff33;
  width: 100px;
  -webkit-transform: translate3d(30px, 100px, -1000px) rotate(100deg);
  -moz-transform: translate3d(30px, 100px, -1000px) rotate(100deg);
  transform: translate3d(30px, 100px, -1000px) rotate(100deg);
  opacity: 0;
}
.line:nth-child(10):after {
  content: '10';
}
.animate .line:nth-child(10) {
  opacity: 0.36666667;
  -webkit-transition: opacity 400ms ease-in-out 600ms;
  -moz-transition: opacity 400ms ease-in-out 600ms;
  transition: opacity 400ms ease-in-out 600ms;
}
.line:nth-child(11) {
  background-color: #55ff33;
  width: 110px;
  -webkit-transform: translate3d(30px, 106px, -1100px) rotate(110deg);
  -moz-transform: translate3d(30px, 106px, -1100px) rotate(110deg);
  transform: translate3d(30px, 106px, -1100px) rotate(110deg);
  opacity: 0;
}
.line:nth-child(11):after {
  content: '11';
}
.animate .line:nth-child(11) {
  opacity: 0.38333333;
  -webkit-transition: opacity 400ms ease-in-out 650ms;
  -moz-transition: opacity 400ms ease-in-out 650ms;
  transition: opacity 400ms ease-in-out 650ms;
}
.line:nth-child(12) {
  background-color: #33ff33;
  width: 120px;
  -webkit-transform: translate3d(30px, 112px, -1200px) rotate(120deg);
  -moz-transform: translate3d(30px, 112px, -1200px) rotate(120deg);
  transform: translate3d(30px, 112px, -1200px) rotate(120deg);
  opacity: 0;
}
.line:nth-child(12):after {
  content: '12';
}
.animate .line:nth-child(12) {
  opacity: 0.4;
  -webkit-transition: opacity 400ms ease-in-out 700ms;
  -moz-transition: opacity 400ms ease-in-out 700ms;
  transition: opacity 400ms ease-in-out 700ms;
}
.line:nth-child(13) {
  background-color: #33ff55;
  width: 130px;
  -webkit-transform: translate3d(30px, 118px, -1300px) rotate(130deg);
  -moz-transform: translate3d(30px, 118px, -1300px) rotate(130deg);
  transform: translate3d(30px, 118px, -1300px) rotate(130deg);
  opacity: 0;
}
.line:nth-child(13):after {
  content: '13';
}
.animate .line:nth-child(13) {
  opacity: 0.41666667;
  -webkit-transition: opacity 400ms ease-in-out 750ms;
  -moz-transition: opacity 400ms ease-in-out 750ms;
  transition: opacity 400ms ease-in-out 750ms;
}
.line:nth-child(14) {
  background-color: #33ff77;
  width: 140px;
  -webkit-transform: translate3d(30px, 124px, -1400px) rotate(140deg);
  -moz-transform: translate3d(30px, 124px, -1400px) rotate(140deg);
  transform: translate3d(30px, 124px, -1400px) rotate(140deg);
  opacity: 0;
}
.line:nth-child(14):after {
  content: '14';
}
.animate .line:nth-child(14) {
  opacity: 0.43333333;
  -webkit-transition: opacity 400ms ease-in-out 800ms;
  -moz-transition: opacity 400ms ease-in-out 800ms;
  transition: opacity 400ms ease-in-out 800ms;
}
.line:nth-child(15) {
  background-color: #33ff99;
  width: 150px;
  -webkit-transform: translate3d(30px, 130px, -1500px) rotate(150deg);
  -moz-transform: translate3d(30px, 130px, -1500px) rotate(150deg);
  transform: translate3d(30px, 130px, -1500px) rotate(150deg);
  opacity: 0;
}
.line:nth-child(15):after {
  content: '15';
}
.animate .line:nth-child(15) {
  opacity: 0.45;
  -webkit-transition: opacity 400ms ease-in-out 850ms;
  -moz-transition: opacity 400ms ease-in-out 850ms;
  transition: opacity 400ms ease-in-out 850ms;
}
.line:nth-child(16) {
  background-color: #33ffbb;
  width: 160px;
  -webkit-transform: translate3d(30px, 136px, -1600px) rotate(160deg);
  -moz-transform: translate3d(30px, 136px, -1600px) rotate(160deg);
  transform: translate3d(30px, 136px, -1600px) rotate(160deg);
  opacity: 0;
}
.line:nth-child(16):after {
  content: '16';
}
.animate .line:nth-child(16) {
  opacity: 0.46666667;
  -webkit-transition: opacity 400ms ease-in-out 900ms;
  -moz-transition: opacity 400ms ease-in-out 900ms;
  transition: opacity 400ms ease-in-out 900ms;
}
.line:nth-child(17) {
  background-color: #33ffdd;
  width: 170px;
  -webkit-transform: translate3d(30px, 142px, -1700px) rotate(170deg);
  -moz-transform: translate3d(30px, 142px, -1700px) rotate(170deg);
  transform: translate3d(30px, 142px, -1700px) rotate(170deg);
  opacity: 0;
}
.line:nth-child(17):after {
  content: '17';
}
.animate .line:nth-child(17) {
  opacity: 0.48333333;
  -webkit-transition: opacity 400ms ease-in-out 950ms;
  -moz-transition: opacity 400ms ease-in-out 950ms;
  transition: opacity 400ms ease-in-out 950ms;
}
.line:nth-child(18) {
  background-color: #33ffff;
  width: 180px;
  -webkit-transform: translate3d(30px, 148px, -1800px) rotate(180deg);
  -moz-transform: translate3d(30px, 148px, -1800px) rotate(180deg);
  transform: translate3d(30px, 148px, -1800px) rotate(180deg);
  opacity: 0;
}
.line:nth-child(18):after {
  content: '18';
}
.animate .line:nth-child(18) {
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease-in-out 1000ms;
  -moz-transition: opacity 400ms ease-in-out 1000ms;
  transition: opacity 400ms ease-in-out 1000ms;
}
.line:nth-child(19) {
  background-color: #33ddff;
  width: 190px;
  -webkit-transform: translate3d(30px, 154px, -1900px) rotate(190deg);
  -moz-transform: translate3d(30px, 154px, -1900px) rotate(190deg);
  transform: translate3d(30px, 154px, -1900px) rotate(190deg);
  opacity: 0;
}
.line:nth-child(19):after {
  content: '19';
}
.animate .line:nth-child(19) {
  opacity: 0.51666667;
  -webkit-transition: opacity 400ms ease-in-out 1050ms;
  -moz-transition: opacity 400ms ease-in-out 1050ms;
  transition: opacity 400ms ease-in-out 1050ms;
}
.line:nth-child(20) {
  background-color: #33bbff;
  width: 200px;
  -webkit-transform: translate3d(30px, 160px, -2000px) rotate(200deg);
  -moz-transform: translate3d(30px, 160px, -2000px) rotate(200deg);
  transform: translate3d(30px, 160px, -2000px) rotate(200deg);
  opacity: 0;
}
.line:nth-child(20):after {
  content: '20';
}
.animate .line:nth-child(20) {
  opacity: 0.53333333;
  -webkit-transition: opacity 400ms ease-in-out 1100ms;
  -moz-transition: opacity 400ms ease-in-out 1100ms;
  transition: opacity 400ms ease-in-out 1100ms;
}
.line:nth-child(21) {
  background-color: #3399ff;
  width: 210px;
  -webkit-transform: translate3d(30px, 166px, -2100px) rotate(210deg);
  -moz-transform: translate3d(30px, 166px, -2100px) rotate(210deg);
  transform: translate3d(30px, 166px, -2100px) rotate(210deg);
  opacity: 0;
}
.line:nth-child(21):after {
  content: '21';
}
.animate .line:nth-child(21) {
  opacity: 0.55;
  -webkit-transition: opacity 400ms ease-in-out 1150ms;
  -moz-transition: opacity 400ms ease-in-out 1150ms;
  transition: opacity 400ms ease-in-out 1150ms;
}
.line:nth-child(22) {
  background-color: #3377ff;
  width: 220px;
  -webkit-transform: translate3d(30px, 172px, -2200px) rotate(220deg);
  -moz-transform: translate3d(30px, 172px, -2200px) rotate(220deg);
  transform: translate3d(30px, 172px, -2200px) rotate(220deg);
  opacity: 0;
}
.line:nth-child(22):after {
  content: '22';
}
.animate .line:nth-child(22) {
  opacity: 0.56666667;
  -webkit-transition: opacity 400ms ease-in-out 1200ms;
  -moz-transition: opacity 400ms ease-in-out 1200ms;
  transition: opacity 400ms ease-in-out 1200ms;
}
.line:nth-child(23) {
  background-color: #3355ff;
  width: 230px;
  -webkit-transform: translate3d(30px, 178px, -2300px) rotate(230deg);
  -moz-transform: translate3d(30px, 178px, -2300px) rotate(230deg);
  transform: translate3d(30px, 178px, -2300px) rotate(230deg);
  opacity: 0;
}
.line:nth-child(23):after {
  content: '23';
}
.animate .line:nth-child(23) {
  opacity: 0.58333333;
  -webkit-transition: opacity 400ms ease-in-out 1250ms;
  -moz-transition: opacity 400ms ease-in-out 1250ms;
  transition: opacity 400ms ease-in-out 1250ms;
}
.line:nth-child(24) {
  background-color: #3333ff;
  width: 240px;
  -webkit-transform: translate3d(30px, 184px, -2400px) rotate(240deg);
  -moz-transform: translate3d(30px, 184px, -2400px) rotate(240deg);
  transform: translate3d(30px, 184px, -2400px) rotate(240deg);
  opacity: 0;
}
.line:nth-child(24):after {
  content: '24';
}
.animate .line:nth-child(24) {
  opacity: 0.6;
  -webkit-transition: opacity 400ms ease-in-out 1300ms;
  -moz-transition: opacity 400ms ease-in-out 1300ms;
  transition: opacity 400ms ease-in-out 1300ms;
}
.line:nth-child(25) {
  background-color: #5533ff;
  width: 250px;
  -webkit-transform: translate3d(30px, 190px, -2500px) rotate(250deg);
  -moz-transform: translate3d(30px, 190px, -2500px) rotate(250deg);
  transform: translate3d(30px, 190px, -2500px) rotate(250deg);
  opacity: 0;
}
.line:nth-child(25):after {
  content: '25';
}
.animate .line:nth-child(25) {
  opacity: 0.61666667;
  -webkit-transition: opacity 400ms ease-in-out 1350ms;
  -moz-transition: opacity 400ms ease-in-out 1350ms;
  transition: opacity 400ms ease-in-out 1350ms;
}
.line:nth-child(26) {
  background-color: #7733ff;
  width: 260px;
  -webkit-transform: translate3d(30px, 196px, -2600px) rotate(260deg);
  -moz-transform: translate3d(30px, 196px, -2600px) rotate(260deg);
  transform: translate3d(30px, 196px, -2600px) rotate(260deg);
  opacity: 0;
}
.line:nth-child(26):after {
  content: '26';
}
.animate .line:nth-child(26) {
  opacity: 0.63333333;
  -webkit-transition: opacity 400ms ease-in-out 1400ms;
  -moz-transition: opacity 400ms ease-in-out 1400ms;
  transition: opacity 400ms ease-in-out 1400ms;
}
.line:nth-child(27) {
  background-color: #9933ff;
  width: 270px;
  -webkit-transform: translate3d(30px, 202px, -2700px) rotate(270deg);
  -moz-transform: translate3d(30px, 202px, -2700px) rotate(270deg);
  transform: translate3d(30px, 202px, -2700px) rotate(270deg);
  opacity: 0;
}
.line:nth-child(27):after {
  content: '27';
}
.animate .line:nth-child(27) {
  opacity: 0.65;
  -webkit-transition: opacity 400ms ease-in-out 1450ms;
  -moz-transition: opacity 400ms ease-in-out 1450ms;
  transition: opacity 400ms ease-in-out 1450ms;
}
.line:nth-child(28) {
  background-color: #bb33ff;
  width: 280px;
  -webkit-transform: translate3d(30px, 208px, -2800px) rotate(280deg);
  -moz-transform: translate3d(30px, 208px, -2800px) rotate(280deg);
  transform: translate3d(30px, 208px, -2800px) rotate(280deg);
  opacity: 0;
}
.line:nth-child(28):after {
  content: '28';
}
.animate .line:nth-child(28) {
  opacity: 0.66666667;
  -webkit-transition: opacity 400ms ease-in-out 1500ms;
  -moz-transition: opacity 400ms ease-in-out 1500ms;
  transition: opacity 400ms ease-in-out 1500ms;
}
.line:nth-child(29) {
  background-color: #dd33ff;
  width: 290px;
  -webkit-transform: translate3d(30px, 214px, -2900px) rotate(290deg);
  -moz-transform: translate3d(30px, 214px, -2900px) rotate(290deg);
  transform: translate3d(30px, 214px, -2900px) rotate(290deg);
  opacity: 0;
}
.line:nth-child(29):after {
  content: '29';
}
.animate .line:nth-child(29) {
  opacity: 0.68333333;
  -webkit-transition: opacity 400ms ease-in-out 1550ms;
  -moz-transition: opacity 400ms ease-in-out 1550ms;
  transition: opacity 400ms ease-in-out 1550ms;
}
.line:nth-child(30) {
  background-color: #ff33ff;
  width: 300px;
  -webkit-transform: translate3d(30px, 220px, -3000px) rotate(300deg);
  -moz-transform: translate3d(30px, 220px, -3000px) rotate(300deg);
  transform: translate3d(30px, 220px, -3000px) rotate(300deg);
  opacity: 0;
}
.line:nth-child(30):after {
  content: '30';
}
.animate .line:nth-child(30) {
  opacity: 0.7;
  -webkit-transition: opacity 400ms ease-in-out 1600ms;
  -moz-transition: opacity 400ms ease-in-out 1600ms;
  transition: opacity 400ms ease-in-out 1600ms;
}
.line:nth-child(31) {
  background-color: #ff33dd;
  width: 310px;
  -webkit-transform: translate3d(30px, 226px, -3100px) rotate(310deg);
  -moz-transform: translate3d(30px, 226px, -3100px) rotate(310deg);
  transform: translate3d(30px, 226px, -3100px) rotate(310deg);
  opacity: 0;
}
.line:nth-child(31):after {
  content: '31';
}
.animate .line:nth-child(31) {
  opacity: 0.71666667;
  -webkit-transition: opacity 400ms ease-in-out 1650ms;
  -moz-transition: opacity 400ms ease-in-out 1650ms;
  transition: opacity 400ms ease-in-out 1650ms;
}
.line:nth-child(32) {
  background-color: #ff33bb;
  width: 320px;
  -webkit-transform: translate3d(30px, 232px, -3200px) rotate(320deg);
  -moz-transform: translate3d(30px, 232px, -3200px) rotate(320deg);
  transform: translate3d(30px, 232px, -3200px) rotate(320deg);
  opacity: 0;
}
.line:nth-child(32):after {
  content: '32';
}
.animate .line:nth-child(32) {
  opacity: 0.73333333;
  -webkit-transition: opacity 400ms ease-in-out 1700ms;
  -moz-transition: opacity 400ms ease-in-out 1700ms;
  transition: opacity 400ms ease-in-out 1700ms;
}
.line:nth-child(33) {
  background-color: #ff3399;
  width: 330px;
  -webkit-transform: translate3d(30px, 238px, -3300px) rotate(330deg);
  -moz-transform: translate3d(30px, 238px, -3300px) rotate(330deg);
  transform: translate3d(30px, 238px, -3300px) rotate(330deg);
  opacity: 0;
}
.line:nth-child(33):after {
  content: '33';
}
.animate .line:nth-child(33) {
  opacity: 0.75;
  -webkit-transition: opacity 400ms ease-in-out 1750ms;
  -moz-transition: opacity 400ms ease-in-out 1750ms;
  transition: opacity 400ms ease-in-out 1750ms;
}
.line:nth-child(34) {
  background-color: #ff3377;
  width: 340px;
  -webkit-transform: translate3d(30px, 244px, -3400px) rotate(340deg);
  -moz-transform: translate3d(30px, 244px, -3400px) rotate(340deg);
  transform: translate3d(30px, 244px, -3400px) rotate(340deg);
  opacity: 0;
}
.line:nth-child(34):after {
  content: '34';
}
.animate .line:nth-child(34) {
  opacity: 0.76666667;
  -webkit-transition: opacity 400ms ease-in-out 1800ms;
  -moz-transition: opacity 400ms ease-in-out 1800ms;
  transition: opacity 400ms ease-in-out 1800ms;
}
.line:nth-child(35) {
  background-color: #ff3355;
  width: 350px;
  -webkit-transform: translate3d(30px, 250px, -3500px) rotate(350deg);
  -moz-transform: translate3d(30px, 250px, -3500px) rotate(350deg);
  transform: translate3d(30px, 250px, -3500px) rotate(350deg);
  opacity: 0;
}
.line:nth-child(35):after {
  content: '35';
}
.animate .line:nth-child(35) {
  opacity: 0.78333333;
  -webkit-transition: opacity 400ms ease-in-out 1850ms;
  -moz-transition: opacity 400ms ease-in-out 1850ms;
  transition: opacity 400ms ease-in-out 1850ms;
}
.line:nth-child(36) {
  background-color: #ff3333;
  width: 360px;
  -webkit-transform: translate3d(30px, 256px, -3600px) rotate(360deg);
  -moz-transform: translate3d(30px, 256px, -3600px) rotate(360deg);
  transform: translate3d(30px, 256px, -3600px) rotate(360deg);
  opacity: 0;
}
.line:nth-child(36):after {
  content: '36';
}
.animate .line:nth-child(36) {
  opacity: 0.8;
  -webkit-transition: opacity 400ms ease-in-out 1900ms;
  -moz-transition: opacity 400ms ease-in-out 1900ms;
  transition: opacity 400ms ease-in-out 1900ms;
}
.line:nth-child(37) {
  background-color: #ff5533;
  width: 370px;
  -webkit-transform: translate3d(30px, 262px, -3700px) rotate(370deg);
  -moz-transform: translate3d(30px, 262px, -3700px) rotate(370deg);
  transform: translate3d(30px, 262px, -3700px) rotate(370deg);
  opacity: 0;
}
.line:nth-child(37):after {
  content: '37';
}
.animate .line:nth-child(37) {
  opacity: 0.81666667;
  -webkit-transition: opacity 400ms ease-in-out 1950ms;
  -moz-transition: opacity 400ms ease-in-out 1950ms;
  transition: opacity 400ms ease-in-out 1950ms;
}
.line:nth-child(38) {
  background-color: #ff7733;
  width: 380px;
  -webkit-transform: translate3d(30px, 268px, -3800px) rotate(380deg);
  -moz-transform: translate3d(30px, 268px, -3800px) rotate(380deg);
  transform: translate3d(30px, 268px, -3800px) rotate(380deg);
  opacity: 0;
}
.line:nth-child(38):after {
  content: '38';
}
.animate .line:nth-child(38) {
  opacity: 0.83333333;
  -webkit-transition: opacity 400ms ease-in-out 2000ms;
  -moz-transition: opacity 400ms ease-in-out 2000ms;
  transition: opacity 400ms ease-in-out 2000ms;
}
.line:nth-child(39) {
  background-color: #ff9933;
  width: 390px;
  -webkit-transform: translate3d(30px, 274px, -3900px) rotate(390deg);
  -moz-transform: translate3d(30px, 274px, -3900px) rotate(390deg);
  transform: translate3d(30px, 274px, -3900px) rotate(390deg);
  opacity: 0;
}
.line:nth-child(39):after {
  content: '39';
}
.animate .line:nth-child(39) {
  opacity: 0.85;
  -webkit-transition: opacity 400ms ease-in-out 2050ms;
  -moz-transition: opacity 400ms ease-in-out 2050ms;
  transition: opacity 400ms ease-in-out 2050ms;
}
.line:nth-child(40) {
  background-color: #ffbb33;
  width: 400px;
  -webkit-transform: translate3d(30px, 280px, -4000px) rotate(400deg);
  -moz-transform: translate3d(30px, 280px, -4000px) rotate(400deg);
  transform: translate3d(30px, 280px, -4000px) rotate(400deg);
  opacity: 0;
}
.line:nth-child(40):after {
  content: '40';
}
.animate .line:nth-child(40) {
  opacity: 0.86666667;
  -webkit-transition: opacity 400ms ease-in-out 2100ms;
  -moz-transition: opacity 400ms ease-in-out 2100ms;
  transition: opacity 400ms ease-in-out 2100ms;
}
